 .footer{
                margin-left : 70px;
                margin-top: 350px;
                font-size : 15px;
                
        }
        .c1{
            display: grid;
            grid-template-columns: repeat(5,auto);
            width: 80%;
            margin-left: 170px;
            text-align: center;
            column-gap: 15px;
        }
        .c2{
            border: 1px solid rgb(221, 219, 219);
            border-radius: 5px;
            box-shadow: 1px 1px 1px 1px gray;
        }
        div :nth-child(3){
            padding-left: 75px;
            padding-right: 75px;
        }

